.app{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.appSearch{
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

.appCard{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}